<h1>New dose</h1>

<% @cocktail.ingredients.each do |ingredient| %>
  <li><%= ingredient %></li>
<% end %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
    <%= f.submit 'Submit your dose!', class: 'btn btn-primary' %>
<% end %>
